body {
  background-color: rgb(27, 27, 27);
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: #a0a0a0 #ffffff;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 80px;
  background-color: var(--primary-color);
  border: 1.5px solid #fff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #a0a0a0;
}

:root {
  --primary-color: #ff2332;
  --primary-hover: #ff9ea5;
  --primary-btn-hover: #a7000b;
  --secondary-color: #ff662d;
  --text-color: #dfdfdf;
  --description-color: #999999;
  --background-color: #26292e;
  --slogan-color: #26292e;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
